body {
    background-color: black;
  }
  .panel-primary > .panel-heading {
    background-color: #012f92;
  }
  .jumbotron {
    margin-top: 30px;
    border: 10px #012f92 solid;
  }
  .cityPic {
    max-width: 100%;
    margin: auto;
  }
  .btn {
    background-color: black;
    color: white;
  }